<div class="movie-list-container">
  <div *ngIf="responseMessage">{{ responseMessage }}</div>
  <div *ngFor="let movie of popularMovies" class="movie-container">
    <div class="movie-poster-container">
      <img
        *ngIf="movie?.poster_path"
        [src]="posterBaseUrl + movie.poster_path"
      />
      <img
        *ngIf="!movie?.poster_path"
        src="../../../../assets/poster-placeholder.png"
      />
    </div>
    <div class="movie-title">{{ movie.title }}</div>
    <div>{{ movie.release_date }}</div>
    <div>{{ movie.popularity }}</div>
  </div>
</div>
