<div>
  <div class="loader-container">
    <app-loader *ngIf="isLoading"></app-loader>
  </div>
  <div *ngIf="!isLoading" class="content-wrapper">
    <div *ngIf="responseMessage" class="response-message">
      {{ responseMessage }}
    </div>
    <div *ngIf="!responseMessage" class="movie-list-container">
      <div
        *ngFor="let movie of popularMovies | paginate: paginationConfig"
        class="movie-container"
      >
        <div
          class="movie-poster-container"
          (click)="onViewMovieDetails(movie.id)"
        >
          <img
            *ngIf="movie?.poster_path"
            [src]="posterBaseUrl + movie.poster_path"
          />
          <img
            *ngIf="!movie?.poster_path"
            src="../../../../assets/poster-placeholder.png"
          />
        </div>
        <div class="movie-title">{{ movie.title }}</div>
        <div class="movie-release-date">
          Release date: <span>{{ movie.release_date }}</span>
        </div>
        <div class="movie-popularity">
          Popularity: <span>{{ movie.popularity }}</span>
        </div>
      </div>
    </div>
    <div class="pagination-container">
      <pagination-controls
        class="paginator"
        previousLabel=""
        nextLabel=""
        (pageChange)="onPageChange($event)"
      ></pagination-controls>
    </div>
  </div>
</div>
