// Variables
@import "../../../../styles-variables.scss";

app-movie-details {
  .movie-details-container {
    display: flex;
    justify-content: space-between;
    color: $font-color-primary;

    .movie-details-section-left {
      display: flex;
      flex-direction: column;

      .movie-poster-container {
        img {
          max-width: 300px;
          border-radius: 4px;
        }
      }

      ngb-rating {
        margin-top: 12px;
      }

      .movie-rate-button {
        margin-top: 12px;

        button {
          width: 100%;
          height: 42px;
          background-color: $background-color-secondary;
          border-radius: 4px;
          font-weight: bold;
          color: $font-color-primary;
        }
      }
    }

    .movie-details-section-right {
      line-height: 32px;
      margin-left: 60px;

      .movie-title-rating-container {
        display: flex;
        justify-content: space-between;

        .movie-title {
          font-size: 32px;
          font-weight: bold;
        }

        .movie-tmdb-rating-container {
          display: flex;
          align-items: center;
          img {
            width: 48px;
          }

          .movie-tmdb-rating {
            display: flex;
            flex-direction: column;
            line-height: 24px;

            .movie-tmdb-rating-score,
            .movie-tmdb-rating-users {
              display: flex;
              align-items: center;
              img {
                width: 16px;
                margin: 0 4px 0 10px;
              }
            }
            .movie-tmdb-rating-users {
              span {
                color: $font-color-secondary;
              }
            }
          }
        }
      }

      .movie-original-title {
        span {
          font-weight: bold;
        }
      }

      .genre-container {
        display: flex;

        span:not(:last-child) {
          margin-right: 6px;
        }
      }

      .movie-overview {
        color: $font-color-secondary;
        line-height: 24px;
        margin-top: 32px;
      }

      .movie-additional-details-container {
        margin-top: 48px;

        .movie-additional-details {
          display: flex;
          color: $font-color-secondary;

          .movie-additional-details-label {
            min-width: 180px;
            font-weight: bold;
          }
        }
      }
    }
  }
}
