// Variables
@import "../../../../styles-variables.scss";

app-badge {
  .badge {
    border-radius: 4px;
    color: $font-color-primary;

    &.small {
      padding: 1px 3px;
      font-size: 11px;
    }

    &.medium {
      padding: 3px 6px;
      font-size: 13px;
    }

    &.large {
      padding: 6px 9px;
      font-size: 15px;
    }

    &.light {
      background-color: $background-color-secondary;
    }

    &.standard {
      background-color: $background-color-tertiary;
    }

    &.dark {
      background-color: $background-color-primary;
    }
  }
}
