$background-color-primary: #060d17;
$background-color-secondary: #47b5ff;
$background-color-tertiary: #256d85;
$background-color-quaternary: #dff6ff;

$border-color: #cccccc;
$border-color-disabled: #52575c;

$font-color-primary: #ffffff;
$font-color-secondary: #52575c;
